<div class="row">
  <main class="col-md-12">
    <div style="text-align: center">
      <h1>Welcome To About Page</h1>
    </div>

    <h2>About Me</h2>
    <p>
      My name is
      <b>Sachin Sapkota, student id: 113877229</b>, and I am a student in
      <b> Seneca College</b>, currently pursing
      <b>Business Information Technology</b>.
      <br />
      I am passionate about web development and enjoy exploring different
      technologies and frameworks to build modern and
      <br />
<<<<<<< HEAD
      interactive websites.You know what really gets me excited? Web development! I absolutely love it! There's something magical about creating modern, interactive websites using different technologies and frameworks. It's like building a whole new world on the internet!
=======
      interactive websites.
>>>>>>> df2e9c10d883e31fbe353fc09e318e7e6f471611
    </p>
  </main>
</div>