<div class="row">
  <main class="col-md-12">
    <div style="text-align: center">
      <h1>Welcome To About Page</h1>
    </div>

    <h2>About Me</h2>
    <p>
      My name is
      <b>Sachin Sapkota, student id: 113877229</b>, and I am a student in
      <b> Seneca College</b>, currently pursing
      <b>Business Information Technology</b>.
      <br />
      I am passionate about web development and enjoy exploring different
      technologies and frameworks to build modern and
      <br />
      interactive websites.
    </p>
  </main>
</div>