<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/theme.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Sachin Sapkota</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/students/add">Add Student</a>
                      </li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
            <section>
                <div class="container">
                    <h2 class="text-center my-4">Tables Section</h2>
        
                    <!-- Table 1 -->
                    <table class="table table-bordered">
                        <caption>Table 1: Sample Data</caption>
                        <thead>
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2">Cell 1</td>
                                <td>Cell 2</td>
                                <td><a href="#">Link</a></td>
                            </tr>
                            <tr>
                                <td colspan="2"><img src="https://via.placeholder.com/150" alt="Placeholder Image"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Footer</td>
                            </tr>
                        </tfoot>
                    </table>
        
                    <!-- Table 2 -->
                    <table class="table table-striped">
                        <caption>Table 2: More Sample Data</caption>
                        <thead>
                            <tr>
                                <th>Header A</th>
                                <th>Header B</th>
                                <th>Header C</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cell A1</td>
                                <td colspan="2">Cell B1</td>
                            </tr>
                            <tr>
                                <td rowspan="2">Cell A2</td>
                                <td>Cell B2</td>
                                <td>Cell C2</td>
                            </tr>
                            <tr>
                                <td>Cell B3</td>
                                <td><a href="#">Another Link</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Another Footer</td>
                            </tr>
                        </tfoot>
                    </table>
        
                    <p class="mt-4">
                        In this section, two tables created with Bootstrap 4 are displayed. Within each cell of the first table, "Table 1: Sample Data," a link and a picture are present. Cells can span many columns or rows in the second table, "Table 2: More Sample Data," to show how this is possible. Both of the tables serve as illustrations of how various content might be shown in a tabular manner.
                    </p>
                </div>
            </section>

            <!-- herer -->
            <section>
                <div class="container">
                    <h2 class="text-center my-4">Lists Section</h2>
        
                    <!-- Unordered List -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            Item 1: <a href="#">Link</a>
                        </li>
                        <li class="list-group-item">
                            Item 2: <img src="https://via.placeholder.com/150" alt="Placeholder Image">
                        </li>
                        <li class="list-group-item">Item 3: Text content</li>
                        <li class="list-group-item">Item 4: More text content</li>
                        <li class="list-group-item">
                            Item 5: Nested Ordered List
                            <ol>
                                <li>Nested Item 1</li>
                                <li>Nested Item 2</li>
                                <li>Nested Item 3</li>
                            </ol>
                        </li>
                    </ul>
        
                    <p class="mt-4">
                        This tutorial shows how to layout an unordered list with a variety of content kinds using Bootstrap 4. There are five things in the list, including text, a hyperlink, an image, and even an ordered list that is nested. This demonstrates how lists may be used to deliver a variety of items with ease and flexibility.
                    </p>
                </div>
            </section>

            <section>
                <div class="container">
                    <h2 class="text-center my-4">Images Section</h2>
        
                    <!-- Image 1 -->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder" class="img-fluid rounded mb-3">
        
                    <!-- Image 2 -->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Surfing_in_Hawaii.jpg" alt="Surfing in Hawaii" class="img-fluid rounded mb-3">
        
                    <!-- Image 3 -->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Windsurfing_in_Vassiliki%2C_Greece.jpg" alt="Windsurfing in Greece" class="img-fluid rounded mb-3">
        
                    <p class="mt-4">
                        Images of snowboarding, surfing in Hawaii, and windsurfing in Greece are included in the extreme sports gallery in this area. Each picture is responsive and uses the "img-fluid" class from Bootstrap 4 for the best viewing across multiple device sizes. Additionally, the photos have been given a rounded appearance using the "rounded" class, and relevant "alt" attributes have been added for better accessibility.
                    </p>
                </div>
            </section>

            <section>
                <div class="container">
                    <h2 class="text-center my-4">Audio Section</h2>
        
                    <!-- Audio Player -->
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3" type="audio/mpeg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.ogg" type="audio/ogg">
                        Your browser does not support the audio element.
                    </audio>
        
                    <p class="mt-4">
                        There is an HTML5 audio player in this area that works with several audio file types. There are two audio sources available in.mp3 and.ogg formats. Maximum compatibility with various browsers and devices is thus guaranteed. The player has simple playback controls that let users play, pause, and navigate the audio as needed.
                    </p>
                </div>
            </section>

            <section>
                <div class="container">
                    <h2 class="text-center my-4">Video Section</h2>
        
                    <!-- Video Player -->
                    <video controls class="w-100">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.mp4" type="video/mp4">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.ogg" type="video/ogg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.webm" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
        
                    <p class="mt-4">
                        An HTML5 video player that supports a variety of video formats is included in this area to provide maximum browser and device compatibility. There are three versions available:.mp4,.ogg, and.webm. The video player has conventional features that let users play, pause, change the volume, and navigate the video as needed.
                    </p>
                </div>
            </section>


		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
