@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Indie+Flower&family=Kanit&display=swap');

.navbar.bg-light {
    background-color: #1a73cd; 
    box-shadow: 0 2px 4px rgba(238, 75, 75, 0.1); 
  }
  
  .navbar-light .navbar-brand {
    font-family: 'Dosis', sans-serif; 
    color: #9ccc65; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  }
  
  
  .navbar-nav .nav-link {
    font-family: 'Kanit', sans-serif; 
    color: #b1eeab; 
  }

  
  
  .navbar-nav .nav-link:hover {
    color: #0277bd !important; 
  }
  
  
  body {
    background: linear-gradient(to bottom, #27c787, #2ec7b8);
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 100vh;
  }
  
  
  .btn-primary {
    background-color: #5a81ad; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .btn-primary:hover {
    background-color: #64a0ef; 
  }
  
  
  table tr:nth-child(odd) td {
    background-color: #e2f5c3; 
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif; 
    color: #004d40; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  }
  
  
  a {
    color: #0e0101; 
  }
  
  a:hover {
    color: #cc7a7a; 
  }
  
  
  legend {
    padding: 10px 0; 
    font-family: 'Dosis', sans-serif; 
    color: #f6f1f0; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  }
  