@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Indie+Flower&family=Kanit&display=swap');

.navbar.bg-light {
    background-color: #b4cde5; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar-light .navbar-brand {
    font-family: 'Dosis', sans-serif; 
    color: #9ccc65; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  }
  
  
  .navbar-nav .nav-link {
    font-family: 'Kanit', sans-serif; 
    color: #333; 
  }
  
  .navbar-nav .nav-link:hover {
    color: #0277bd !important; 
  }
  
  
  body {
    background: linear-gradient(to bottom, #020705, #020c0b);
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 100vh;
  }
  
  
  .btn-primary {
    background-color: #c5d9ef; 
    text-shadow: 1px 1px 1px rgba(243, 181, 181, 0.2); 
    box-shadow: 0 2px 4px rgba(232, 198, 198, 0.1); 
  }
  
  .btn-primary:hover {
    background-color: #a9c5e8; 
  }
  
  
  table tr:nth-child(odd) td {
    background-color: #e5b4b4; 
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif; 
    color: #b6f0e6; 
    text-shadow: 1px 1px 1px rgba(248, 192, 192, 0.2); 
  }
  
  
  a {
    color: #e7c3c3; 
  }
  
  a:hover {
    color: #eeb7b7; 
  }
  
  
  legend {
    padding: 10px 0; 
    font-family: 'Dosis', sans-serif; 
    color: #e9bfb7; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  }
  